@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #458ff6;
  --secondary-color: #7d7987;
  --black: #000;
  --white: #fff;
}

body {
  font-family: "Mulish", serif;
}
nav {
  padding: 30px 0;
}
.navmenu-container {
}

.container {
  width: 80%;
  margin: 0 auto;
}
.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.menu-iteam a {
  text-decoration: none;
  color: #1f1534;
  margin-left: 40px;
}
.menu-iteam a:first-child {
  color: #000;
  font-weight: bold;
}
.hamburger {
  display: none;
}
