@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #458ff6;
  --secondary-color: #7d7987;
  --black: #000;
  --white: #fff;
}

body {
  font-family: "Mulish", serif;
}
nav {
  padding: 30px 0;
}
.navmenu-container {
}

.container {
  width: 80%;
  margin: 0 auto;
}
.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.menu-iteam a {
  text-decoration: none;
  color: #1f1534;
  font-size: 18px;
  margin-left: 40px;
}
.menu-iteam a:first-child {
  color: #000;
  font-weight: bold;
}
.hamburger {
  display: none;
}
/* hero-section-style */
.hero-section {
}
.hero-container {
  display: flex;
  align-items: center;
  gap: 50px;
  direction: row;
}
.hero-content {
  width: 40%;
}
.hero-content h1 {
  font-size: 35px;
  color: #000;
  margin-bottom: 25px;
}
.hero-content p {
  color: #7d7987;
  font-size: 21px;
  margin-bottom: 45px;
}
.hero-content button {
  border: none;
  background-color: #458ff6;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 40px;
  border-radius: 9999px;
}
.hero-image {
  width: 60%;
}
.hero-image img {
  width: 100%;
}
.style-iteam-1 {
  position: absolute;
  top: 160px;
  z-index: -1;
}
